{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">


  <!-- Bootstrap core CSS -->
  <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">




  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'profile/assets/img/favicon/favicon.ico' %}" />
  <!-- Favicon -->



  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="{% static 'profile/assets/vendor/fonts/boxicons.css' %}" />


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'main/assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'main/assets/css/templatemo-scholar.css' %}">
  <link rel="stylesheet" href="{% static 'main/assets/css/owl.css' %}">
  <link rel="stylesheet" href="{% static 'main/assets/css/animate.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

  <!-- Aos Library  -->
  <link href="{% static 'aos/dist/aos.css' %}" rel="stylesheet">
  <!-- Aos Library  -->

  <style>
    .home-dropdown {
      position: relative;
      display: inline-block;
    }

    .home-dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #f1f0fe;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 4px;
      z-index: 1;
      color: black;
    }

    .home-dropdown-content a {
      color: black;
      text-decoration: none;
    }

    .home-dropdown:hover .home-dropdown-content {
      display: block;
    }
  </style>


  <!-- Inputs Styling   -->
  <style>
    .inputbox {
      position: relative;
      width: 196px;
    }

    .inputbox input {
      position: relative;
      width: 100%;
      padding: 20px 10px 10px;
      background: transparent;
      outline: none;
      box-shadow: none;
      border: none;
      color: white;
      font-size: 1em;
      letter-spacing: 0.05em;
      transition: 0.5s;
      z-index: 10;
    }

    .inputbox span {
      position: absolute;
      left: 0;
      padding: 20px 10px 10px;
      font-size: 1em;
      color: #8f8f8f;
      letter-spacing: 00.05em;
      transition: 0.5s;
      pointer-events: none;
    }

    .inputbox input:valid~span,
    .inputbox input:focus~span {
      color: #7b6ada;
      transform: translateX(-10px) translateY(-34px);
      font-size: 0, 75em;
    }

    .inputbox i {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: #7b6ada;
      border-radius: 4px;
      transition: 0.5s;
      pointer-events: none;
      z-index: 9;
    }

    .inputbox input:valid~i,
    .inputbox input:focus~i {
      height: 44px;
    }



    .menu-link-active {
      border-right: 20px solid #00ff84
    }
  </style>
  <!-- Inputs Styling   -->






  {% block head %}
  {% endblock head %}

</head>

<body>






  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">

      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>




    </div>
  </div>
  <!-- ***** Preloader End ***** -->







  <!-- ***** Navbar ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12" style="overflow: visible; padding: 0; margin: 0;">

          <div class="main-nav" style="overflow: visible; ">

            <div
              style="width: 100%; padding: 15px; display: flex; justify-content: space-between; align-items: center;">
              <!-- ***** Logo Start ***** -->
              <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                <a href="{% url 'home' %}" class="logo"
                  style="padding: 0; margin: 0; display: flex; justify-content: center; align-items: center; height: 100%;">
                  <h1 style="padding: 0; margin: 0;">
                    {% if platform %}
                    {% if platform.image_logo %}
                    <img src="{{ platform.image_logo.url }}" style="width: 100%; height: 50px;" />
                    {% else %}
                    {{ platform.text_logo }}
                    {% endif %}
                    {% else %}
                    {% if LANGUAGE_CODE == 'ar' %}
                    اسم المعلم
                    {% else %}
                    Teacher Name
                    {% endif %}
                    {% endif %}
                  </h1>
                </a>
              </div>
              <!-- ***** Logo End ***** -->

              <!-- Toggle -->
              <div>
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu"
                  aria-controls="offcanvasWithBackdrop">
                  <i class="bx bx-menu text-white" style="font-size: 40px;"></i>
                </button>
              </div>
              <!-- Toggle -->
            </div>






            <div class="offcanvas offcanvas-end" tabindex="-1" id="menu" aria-labelledby="offcanvasWithBackdropLabel"
              style="background-color: #7b6ada;  -webkit-box-shadow: -11px 0px 25px 2px rgba(0,0,0,0.38);
              -moz-box-shadow: -11px 0px 25px 2px rgba(0,0,0,0.38);
              box-shadow: -11px 0px 25px 2px rgba(0,0,0,0.38);">

              <div class="offcanvas-header"
                style="display: flex; justify-content: center; align-items: center; padding-top: 40px;">
                <button type="button" class="text-reset" data-bs-dismiss="offcanvas" aria-label="Close" style="border: none; background: rgba(255, 255, 255, 0.2);
border-radius: 16px; padding: 10px 20px;">
                  <i class="fa-solid fa-xmark" style="color: white; font-size: 40px; "></i>
                </button>
              </div>

              <hr>

              <div class="offcanvas-body">



                <div class="menu-links ">
                  <div class="container">
                    <div class="row">

                      <div class="col-12 mb-3">
                        <div class="menu-link-active"
                          style="background-color: #f1f0fe; width: 100%; height: 50px; border-radius: 15px;">
                          <a href="{% url 'home' %}"
                            style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: flex-end; padding: 10px;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                              <div
                                style="display: flex; height: 100%; align-items: center; margin-right: 15px; font-size: 20px; font-weight: 600; color: black;">
                                {% if LANGUAGE_CODE == 'ar' %}
                                الرئيسية
                                {% else %}
                                Home
                                {% endif %}
                              </div>
                              <div style="background-color: #7b6ada; border-radius: 15px; padding: 3px;">
                                <i class="bx bx-home text-white" style="font-size: 25px;"></i>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-12 mb-3">
                        <div class="menu-link"
                          style="background-color: #f1f0fe; width: 100%; height: 50px; border-radius: 15px;">
                          <a href="{% url 'grades' %}"
                            style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: flex-end; padding: 10px;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                              <div
                                style="display: flex; height: 100%; align-items: center; margin-right: 15px; font-size: 20px; font-weight: 600; color: black;">
                                {% if LANGUAGE_CODE == 'ar' %}
                                المحاضرات
                                {% else %}
                                Lectures
                                {% endif %}
                              </div>
                              <div style="background-color: #7b6ada; border-radius: 15px; padding: 3px;">
                                <i class="bx bx-file text-white" style="font-size: 25px;"></i>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>


                      <div class="col-12 mb-3">
                        <div class="menu-link"
                          style="background-color: #f1f0fe; width: 100%; height: 50px; border-radius: 15px;">

                          <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">


                            {% if LANGUAGE_CODE == 'ar' %}
                            <button type='submit' name='language' value='en'
                              style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: flex-end; padding: 10px; border: none;border-radius: 15px; ">
                              <div style="display: flex; flex-direction: row; align-items: center;">
                                <div
                                  style="display: flex; height: 100%; align-items: center; margin-right: 15px; font-size: 20px; font-weight: 600; color: black;">
                                  الانجليزية
                                </div>
                                <div style="background-color: #7b6ada; border-radius: 15px; padding: 3px;">
                                  <i class="bx bx-globe text-white" style="font-size: 25px;"></i>
                                </div>
                              </div>
                            </button>
                            {% else %}
                            <button type='submit' name='language' value='ar'
                              style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: flex-end; padding: 10px; border: none;border-radius: 15px; ">
                              <div style="display: flex; flex-direction: row; align-items: center;">
                                <div
                                  style="display: flex; height: 100%; align-items: center; margin-right: 15px; font-size: 20px; font-weight: 600; color: black;">
                                  Arabic
                                </div>
                                <div style="background-color: #7b6ada; border-radius: 15px; padding: 3px;">
                                  <i class="bx bx-globe text-white" style="font-size: 25px;"></i>
                                </div>
                              </div>
                            </button>
                            {% endif %}




                          </form>

                        </div>
                      </div>


                      {% if user_profile %}

                      {% if user_profile.instructor == False %}
                      <div class="col-12 mb-3">
                        <div class="menu-link"
                          style="background-color: #f1f0fe; width: 100%; height: 50px; border-radius: 15px;">
                          <a href="{% url 'main' user %}"
                            style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: flex-end; padding: 10px;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                              <div
                                style="display: flex; height: 100%; align-items: center; margin-right: 15px; font-size: 20px; font-weight: 600; color: black;">
                                {% if LANGUAGE_CODE == 'ar' %}
                                الملف الشخصي
                                {% else %}
                                Profile
                                {% endif %}
                              </div>
                              <div style="background-color: #7b6ada; border-radius: 15px; padding: 3px;">
                                <i class="bx bx-user text-white" style="font-size: 25px;"></i>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-12 mb-3">
                        <div class="menu-link"
                          style="background-color: #f1f0fe; width: 100%; height: 50px; border-radius: 15px;">
                          <a href="{% url 'inbox' user %}"
                            style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: flex-end; padding: 10px;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                              <div
                                style="display: flex; height: 100%; align-items: center; margin-right: 15px; font-size: 20px; font-weight: 600; color: black;">
                                {% if LANGUAGE_CODE == 'ar' %}
                                الأسئلة
                                {% else %}
                                Questions
                                {% endif %}
                              </div>
                              <div style="background-color: #7b6ada; border-radius: 15px; padding: 3px;">
                                <i class="bx bx-question-mark text-white" style="font-size: 25px;"></i>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-12 mb-3">
                        <div class="menu-link"
                          style="background-color: #f1f0fe; width: 100%; height: 50px; border-radius: 15px;">
                          <a href="{% url 'notifications' user %}"
                            style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: flex-end; padding: 10px;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                              <div
                                style="display: flex; height: 100%; align-items: center; margin-right: 15px; font-size: 20px; font-weight: 600; color: black;">
                                {% if LANGUAGE_CODE == 'ar' %}
                                الإشعارات
                                {% else %}
                                Notifications
                                {% endif %}
                                {% if notifications > 0 %}
                                <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20"
                                  style="margin-left: 10px;">{{notifications}}</span>
                                {% endif %}
                              </div>
                              <div style="background-color: #7b6ada; border-radius: 15px; padding: 3px;">
                                <i class="bx bxs-bell-ring text-white" style="font-size: 25px;"></i>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      {% else %}
                      <div class="col-12 mb-3">
                        <div class="menu-link"
                          style="background-color: #f1f0fe; width: 100%; height: 50px; border-radius: 15px;">
                          <a href="{% url 'dashboard-page' %}"
                            style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: flex-end; padding: 10px;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                              <div
                                style="display: flex; height: 100%; align-items: center; margin-right: 15px; font-size: 20px; font-weight: 600; color: black;">
                                {% if LANGUAGE_CODE == 'ar' %}
                                لوحة التحكم
                                {% else %}
                                Dashboard
                                {% endif %}
                              </div>
                              <div style="background-color: #7b6ada; border-radius: 15px; padding: 3px;">
                                <i class="bx bxs-dashboard text-white" style="font-size: 25px;"></i>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-12 mb-3">
                        <div class="menu-link"
                          style="background-color: #f1f0fe; width: 100%; height: 50px; border-radius: 15px;">
                          <a href="{% url 'dashboard-page' %}"
                            style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: flex-end; padding: 10px;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                              <div
                                style="display: flex; height: 100%; align-items: center; margin-right: 15px; font-size: 20px; font-weight: 600; color: black;">
                                {% if LANGUAGE_CODE == 'ar' %}
                                الاكواد
                                {% else %}
                                Codes
                                {% endif %}
                              </div>
                              <div style="background-color: #7b6ada; border-radius: 15px; padding: 3px;">
                                <i class="bx bx-barcode text-white" style="font-size: 25px;"></i>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      {% endif %}

                      <hr class="mt-1 mb-3">


                      <div class="col-12 mb-3">
                        <div class="menu-link"
                          style="background-color: #f1f0fe; width: 100%; height: 50px; border-radius: 15px;">
                          <a href="{% url 'logout' %}"
                            style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: flex-end; padding: 10px;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                              <div
                                style="display: flex; height: 100%; align-items: center; margin-right: 15px; font-size: 20px; font-weight: 600; color: black;">
                                {% if LANGUAGE_CODE == 'ar' %}
                                تسجيل الخروج
                                {% else %}
                                Log Out
                                {% endif %}
                              </div>
                              <div style="background-color: #7b6ada; border-radius: 15px; padding: 3px;">
                                <i class="bx bx-log-out text-white" style="font-size: 25px;"></i>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>


                      {% else %}

                      <hr class="mt-3 mb-5">
                      <div class="col-12 mb-3">
                        <div class="menu-link"
                          style="background-color: #f1f0fe; width: 100%; height: 50px; border-radius: 15px;">
                          <a href="{% url 'signup' %}"
                            style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: flex-end; padding: 10px;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                              <div
                                style="display: flex; height: 100%; align-items: center; margin-right: 15px; font-size: 20px; font-weight: 600; color: black;">
                                {% if LANGUAGE_CODE == 'ar' %}
                                انشاء حساب جديد
                                {% else %}
                                Register
                                {% endif %}
                              </div>
                              <div style="background-color: #7b6ada; border-radius: 15px; padding: 3px;">
                                <i class="bx bx-plus text-white" style="font-size: 25px;"></i>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>

                      <div class="col-12 mb-3">
                        <div class="menu-link"
                          style="background-color: #f1f0fe; width: 100%; height: 50px; border-radius: 15px;">
                          <a href="{% url 'login' %}"
                            style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: flex-end; padding: 10px;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                              <div
                                style="display: flex; height: 100%; align-items: center; margin-right: 15px; font-size: 20px; font-weight: 600; color: black;">
                                {% if LANGUAGE_CODE == 'ar' %}
                                تسجيل الدخول
                                {% else %}
                                Login
                                {% endif %}
                              </div>
                              <div style="background-color: #7b6ada; border-radius: 15px; padding: 3px;">
                                <i class="bx bx-log-in text-white" style="font-size: 25px;"></i>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>



                      {% endif %}





                      {% if user_profile %}
                      {% if user_profile.instructor == True %}
                      <div class="col-12" style="display: flex; justify-content: center">
                        <div class="menu-link"
                          style="position: absolute; bottom: 10px; background-color: #f1f0fe; width: 90%; height: 90px; border-radius: 15px;">
                          <a href="{% url 'dashboard-page' %}"
                            style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: flex-start; padding: 10px;">
                            <div style="display: flex; flex-direction: row;  align-items: center; width: 100%;">

                              <div>

                                {% if user_profile.image %}
                                <img src="{{user_profile.image.url}}" alt class="rounded-circle"
                                  style="width: 70px; height: 70px;" />
                                {% else %}
                                <img src="{% static 'blank-profile-picture.jpg' %}" alt class="rounded-circle"
                                  style="width: 70px; height: 70px;" />
                                {% endif %}


                              </div>
                              <div
                                style="display: flex; height: 100%; justify-content: center; width: 100%; align-items: center; margin-right: 15px; font-size: 20px; font-weight: 600; color: black;">
                                {% if user_profile.name %}
                                {{user_profile.name}}
                                {% else %}
                                {{user_profile.user.username}}
                                {% endif %}
                              </div>

                            </div>
                          </a>
                        </div>
                      </div>
                      {% else %}
                      <div class="col-12" style="display: flex; justify-content: center">
                        <div class="menu-link"
                          style="position: absolute; bottom: 10px; background-color: #f1f0fe; width: 90%; height: 90px; border-radius: 15px;">
                          <a href="{% url 'main' user %}"
                            style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: flex-start; padding: 10px;">
                            <div style="display: flex; flex-direction: row;  align-items: center; width: 100%;">

                              <div>

                                {% if user_profile.image %}
                                <img src="{{user_profile.image.url}}" alt class="rounded-circle"
                                  style="width: 70px; height: 70px;" />
                                {% else %}
                                <img src="{% static 'blank-profile-picture.jpg' %}" alt class="rounded-circle"
                                  style="width: 70px; height: 70px;" />
                                {% endif %}


                              </div>
                              <div
                                style="display: flex; height: 100%; justify-content: center; flex-direction: column; width: 100%; align-items: center; margin-right: 15px; font-size: 20px; font-weight: 600; color: black;">
                                <div>
                                  {% if user_profile.name %}
                                  {{user_profile.name}}
                                  {% else %}
                                  {{user_profile.user.username}}
                                  {% endif %}
                                </div>

                                <div>
                                  <p class="text-black"
                                    style="padding: 0; margin: 0;  font-size: 15px; font-weight: 400;">
                                    {{user_profile.money}} EGP</p>
                                </div>
                              </div>

                            </div>
                          </a>
                        </div>
                      </div>
                      {% endif %}
                      {% endif %}


                    </div>
                  </div>







                </div>

              </div>
            </div>





            <!-- ***** Menu Start ***** -->

            <!-- <ul class="nav">
              <li class="scroll-to-section"><a href="{% url 'home'  %}">Home</a></li>
              <li class="scroll-to-section"><a href="{% url 'grades'  %}">Lectures</a></li>
              <li class="scroll-to-section">
              </li>



              {% if user_profile %}
              <li class="scroll-to-section"><a href="{% url 'questions' %}">Questions </a></li>
              <li class="scroll-to-section">
                <div class="home-dropdown" style="width: 100%; height: 100%; ">

                  <div class="home-li" style="width: 100%; height: 100%; display: flex; justify-content: center;">
                    <div class="home-avatar" style="width: 43px; height: 100%;">
                      {% if user_profile.image %}
                      <img src="{{user_profile.image.url}}" style="width: 100%; height: 100%;" class="rounded-circle" />
                      {% else %}
                      <img src="{% static 'blank-profile-picture.jpg' %}" style="width: 100%; height: 100%;"
                        class="rounded-circle" />
                      {% endif %}
                    </div>
                  </div>


                  <div class="home-dropdown-content" style="overflow: visible;">

                    <div>
                      <a class="dropdown-item" href="#" style="border-radius: 0; padding: 10px; height: fit-content;">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div style="width: 43px; height: 100%; opacity: 1;">
                              {% if user_profile.image %}
                              <img src="{{user_profile.image.url}}" style="width: 100%; height: 100%; opacity: 1;"
                                class="rounded-circle" />
                              {% else %}
                              <img src="{% static 'blank-profile-picture.jpg' %}"
                                style="width: 100%; height: 100%; opacity: 1;" class="rounded-circle" />
                              {% endif %}
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block text-black">
                              {% if user_profile.name %}
                              {{user_profile.name}}
                              {% else %}
                              Student
                              {% endif %}
                            </span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div style="margin: 0; padding: 0;">
                      <div class="dropdown-divider" style="padding: 0; margin: 0;"></div>
                    </div>

                    {% if user_profile.instructor == False %}
                    <div style="padding: 0px; margin: 0;">
                      <a class="dropdown-item" style="padding: 0 10px; border-radius: 0;" href="{% url 'main' user %}">
                        <i class="bx bx-user me-2 text-black"></i>
                        <span class="align-middle text-black">My Profile</span>
                      </a>
                    </div>
                    {% else %}
                    <div style="padding: 0px; margin: 0;">
                      <a class="dropdown-item" style="padding: 0 10px; border-radius: 0;" href="{% url 'dashboard-page'  %}">
                        <i class="bx bxs-dashboard me-2 text-black"></i>
                        <span class="align-middle text-black">Dashboard</span>
                      </a>
                    </div>
                    {% endif %}

                    <div style="padding: 0px; margin: 0;">
                      <a class="dropdown-item" style="padding: 0 10px; border-radius: 0;"
                        href="{% url 'account' user %}">
                        <i class="bx bx-cog me-2 text-black"></i>
                        <span class="align-middle text-black">Settings</span>
                      </a>
                    </div>

                    <div style="padding: 0px; margin: 0;">
                      <a class="dropdown-item" style="padding: 0 10px; border-radius: 0;"
                        href="{% url 'notifications' user %}">
                        <i class="bx bx-notification me-2 text-black"></i>
                        <span class="align-middle text-black">Notifications</span>
                      </a>
                    </div>

                    <div style="margin: 0; padding: 0;">
                      <div class="dropdown-divider" style="padding: 0; margin: 0;"></div>
                    </div>
                    <div style="padding: 0px; margin: 0; border-radius: 0;">
                      <a class="dropdown-item" style="padding: 0 10px; border-radius: 0;" href="{% url 'logout'  %}">
                        <i class="bx bx-power-off me-2 text-black"></i>
                        <span class="align-middle text-black">Log Out</span>
                      </a>
                    </div>

                  </div>


                </div>
              </li>
              {% else %}
              <li class="scroll-to-section d-block d-md-none"><a href="{% url 'signup'  %}">Register</a></li>
              <div class="sec-button d-none d-md-block me-2">
                <a href="{% url 'signup'  %}">Register</a>
              </div>


              <li class="scroll-to-section d-block d-md-none"><a href="{% url 'login'  %}">Login</a></li>
              <div class="sec-button  d-none d-md-block">
                <a href="{% url 'login'  %}">Login</a>
              </div>
              {% endif %}





            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a> -->

            <!-- ***** Menu End ***** -->




          </div>



        </div>
      </div>
    </div>
  </header>
  <!-- ***** Navbar ***** -->










  <div style="width: 100%; overflow: hidden;;">
    {% block content %}

    {% endblock content %}
  </div>






  <footer>
    <div class="container">

      <div class="col-lg-12"
        style=" padding: 0;height: 80px; display: flex; justify-content: center; align-items: center;">
        <p class="d-flex justify-content-center align-items-center" style="line-height: normal;">
          {% if platform.facebook %}
          <span class="me-3">
            <a href="{{platform.facebook}}" style="background: none; border: none;">
              <i class="bx bxl-facebook-circle text-white" style="font-size: 40px;"></i>
            </a>
          </span>
          {% endif %}

          {% if platform.whatsapp %}
          <span class="me-3">
            <a href="https://wa.me/2{{platform.whatsapp}}" style="background: none; border: none;">
              <i class="bx bxl-whatsapp text-white" style="font-size: 45px;"></i>
            </a>
          </span>
          {% endif %}

          {% if platform.instagram %}
          <span class="me-3">
            <a href="{{platform.instagram}}" style="background: none; border: none;">
              <i class="bx bxl-instagram-alt text-white" style="font-size: 45px;"></i>
            </a>
          </span>
          {% endif %}

          {% if platform.youtube %}
          <span class="me-3">
            <a href="{{platform.youtube}}" style="background: none; border: none;">
              <i class="bx bxl-youtube text-white" style="font-size: 52px;"></i>
            </a>
          </span>
          {% endif %}

          {% if platform.telegram %}
          <span class="me-3">
            <a href="{{platform.telegram}}" style="background: none; border: none;">
              <i class="bx bxl-telegram text-white" style="font-size: 45px;"></i>
            </a>
          </span>
          {% endif %}

          {% if platform.tiktok %}
          <span class="me-3">
            <a href="{{platform.tiktok}}" style="background: none; border: none;">
              <i class="bx bxl-tiktok text-white" style="font-size: 40px;"></i>
            </a>
          </span>
          {% endif %}

          {% if platform.twitter %}
          <span class="me-3">
            <a href="{{platform.twitter}}" style="background: none; border: none;">
              <i class="bx bxl-twitter text-white" style="font-size: 40px;"></i>
            </a>
          </span>
          {% endif %}
        </p>
      </div>

      <div class="col-lg-12"
        style="padding: 0; height: 50px; display: flex; justify-content: center; align-items: center;">
        <p style="padding: 0; margin: 0; line-height: normal;">
          {% if LANGUAGE_CODE == 'ar' %}
          حقوق النشر © 2024 المنظمة. جميع الحقوق محفوظة.
          {% else %}
          Copyright © 2024 Organization. All rights reserved.
          {% endif %}
        </p>
      </div>

      <div class="col-lg-12"
        style="padding: 0; display: flex; justify-content: center; align-items: center; line-height: normal;">
        <p>
          {% if LANGUAGE_CODE == 'ar' %}
          تم التطوير بواسطة
          <a style="font-weight: bold; font-size: 25px; color: white;" href="https://mina-emad.netlify.app">مينا
            عماد</a>
          {% else %}
          Developed By
          <a style="font-weight: bold; font-size: 25px; color: white;" href="https://mina-emad.netlify.app">Mina
            Emad</a>
          {% endif %}
        </p>
      </div>



    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'main/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'main/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'main/assets/js/isotope.min.js' %}"></script>
  <script src="{% static 'main/assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'main/assets/js/counter.js' %}"></script>
  <script src="{% static 'main/assets/js/custom.js' %}"></script>



  <!-- Info JS -->
  <script src="{% static 'profile/assets/js/info.js' %}"></script>


  <!-- Aos Library  -->
  <script src="{% static 'aos/dist/aos.js' %}"></script>

  <script>
    AOS.init();
  </script>
  <!-- Aos Library  -->

</body>

</html>